.dice {
  margin: auto;
  width: 14rem;
  padding: 0% 0 4% 0;
}
@media only screen and (max-width: 600px) {
  .dice {
    padding-top: 20px;
  }
}

.dice h1 {
  font-size: 13rem;
  padding-bottom: 20px;
  width: 14rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .dice h1 {
    font-size: 5rem;
  }
}

.dice button {
  font-size: 3rem;
  width: 14rem;
}
@media only screen and (max-width: 600px) {
  .dice button {
    font-size: 2rem;
  }
}
.movie {
  margin: auto;
  width: auto;
  text-align: center;
}
.movie h3 {
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .movie h3 {
    font-size: 1.5rem;
  }
}
.movie h2 {
  color: purple;
  font-size: 9rem;
}
@media only screen and (max-width: 600px) {
  .movie h2 {
    font-size: 4rem;
  }
}

/* SidePanel*/

.sidePanel {
  background-color: #343a40;
  display: block;
  width: 0;
  z-index: 1;
  height: 100%;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  position: absolute;
  clip: rect(auto, auto, auto, auto);
}

.sidePanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
}

/* sidePanel content */

.sidePanel ol {
  padding: 8px 8px 8px 32px;
  font-size: 1.2rem;
  transition: 0.3s;
  color: #fff;
  position: fixed;
}
